S3_ACCESS_KEY=[Replace_with_your_S3_Access_Key]
S3_SECRET_KEY=[Replace_with_your_S3_Secret_Key]
CLUSTER_TOKEN=
CLUSTER_REPAIR_TOKEN=
POSTGRES_PASSWORD=[PG_Pass]
S3_BUCKET=objects
CLUSTER_HOST_PORT=9001
